@import "tailwindcss";

@font-face {
	font-family: "DMS Sans";
	font-style: normal;
	font-weight: 200 700;
	font-display: swap;
	src: url("/fonts/DMSans.ttf") format("truetype");
}

@font-face {
	font-family: "Manrope";
	font-style: normal;
	font-weight: 200 700;
	font-display: swap;
	src: url("/fonts/Manrope.ttf") format("truetype");
}

@font-face {
	font-family: "Space Grotesk";
	font-style: normal;
	font-weight: 200 700;
	font-display: swap;
	src: url("/fonts/SpaceGrotesk.ttf") format("truetype");
}

@theme {
	--font-title: "DMS Sans", Roboto, sans-serif;
	--font-heading: "Space Grotesk", Roboto, sans-serif;
	--font-base: "Manrope", sans-serif;
}
